# config file for arangobench

keep-alive = true
progress = true

[server]
endpoint = {{arangodb_endpoints[0]}}
authentication = {{ arangodb_authentication }}
username = {{ arangodb_user }}
password = {{ arangodb_user_pass }}